html{
    background-color: #fdf1d3;
}
 
 .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    padding: 3%;
  }

  ul{
    list-style: none;
    text-align: center;
    
}
li{
    display: inline;
    text-decoration: none;
    text-align: center;
    padding: 2%;
}
a{
    text-decoration: none;
    text-align: center;
}
a:hover{
    color: #ff9900;
    font-size: xx-large; 
} 
.navbar{
    position: fixed;
    width: 100%;
    top:0;
    margin-bottom: 25%;
}
img{
    height: 48%;
    width: 90%;
}
h3{
    margin-top: 5%;

}
#kuca-con >div{ 
    background-color:  powderblue;
}
#stan-con > div{
    background-color:  white;
}
#pp-con > div{
    background-color:  green;
}
.lijevo{
    text-align: left;
    margin-left: 5%;
}
.desno{
    text-align: right;
    margin-right: 5%;
}
iframe{
    border: none;
    width: 100%;
    height: 40px;
}
header{
    position: fixed;
    top: 0;
    width: 100%
}