html{
    background-color: #fdf1d3;
}
iframe{
    border: none;
    width: 100%;
    height: 60px;
}
form {
    border: 3px solid #f1f1f1;
    width: 300px; /* Adjust the width as needed */
    margin: 0 auto;
  }
  
  /* Full-width inputs */
 /* Adjust input fields */
input[type=text], input[type=password] {
  width: calc(100% - 40px); /* Reduce the width */
  padding: 10px; /* Adjust padding */
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Adjust button styles */
button {
  width: calc(100% - 40px); /* Reduce the width */
  padding: 10px 20px; /* Adjust padding */
  margin: 8px 0;
  border: none;
  cursor: pointer;
  background-color: #04AA6D;
  color: white;
}
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  p{
    text-align: center;
  }